<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome!</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" href="https://th.bing.com/th/id/OIP.Zbqxq5hhYyLc3nP_lDL4agHaHa?pid=ImgDet&rs=1">

</head>
<body>


  <nav>
    <h1><a href="/">LearnerInc</a></h1>
    <a href="/login"><button class="btn">Login/Signup</button></a>
  </nav>
  