<%- include('partials/header'); -%>

<div class="container">
<section class="home">

  <div class="content">
      <h3>E-learning is a better way of learning</h3>
      <p>A way of learning through the process of videos and resources, we are one of a kind where each resources are free and comes up with a task manager that help you finish the courses on time. </p>
      <a href="/login" class=" btn btn-start" style="font-size: 18px; padding: 10px;">Get started  &#8669;</a>
  </div>

  <div class="image">
      <img src="https://th.bing.com/th/id/OIP.Zbqxq5hhYyLc3nP_lDL4agHaHa?pid=ImgDet&rs=1" alt="">
  </div>

</section>


<!-- footer section  -->

<!-- <section class="footer">

  <div class="box-container">

      <div class="box">
          <h3>about us</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, maxime!</p>
      </div>

      <div class="box">
          <h3>quick links</h3>
          <a href="#">home</a>
          <a href="#">course</a>
          <a href="#">teacher</a>
          <a href="#">price</a>
          <a href="#">review</a>
          <a href="#">contact</a>
      </div>

      <div class="box">
          <h3>follow us</h3>
          <a href="https://facebook.com/freewebsitecode/"> <i class="fab fa-facebook-f"></i> facebook</a>
          <a href="https://freewebsitecode.com/"> <i class="fab fa-twitter"></i> twitter</a>
          <a href="https://freewebsitecode.com/"> <i class="fab fa-instagram"></i> instagram</a>
          <a href="https://freewebsitecode.com/"> <i class="fab fa-linkedin"></i> linkedin</a>
          <a href="https://freewebsitecode.com/"> <i class="fab fa-pinterest"></i> pinterest</a>
          <a href="https://www.youtube.com/channel/UC9HlQRmKgG3jeVD_fBxj1Pw/videos"> <i class="fab fa-youtube"></i> youtube</a>
      </div>

      <div class="box">
          <h3>contact us</h3>
         <p> <i class="fas fa-phone"></i> +123-456-7890 </p>
         <p> <i class="fas fa-envelope"></i> hellofreewebsitecode@gmail.com </p>
         <p> <i class="fas fa-map-marker-alt"></i> mumbai, india - 400104 </p>
      </div>

  </div>

  <div class="credit"> created by <span> <a href="https://freewebsitecode.com/"> Free Website Code </a> </span> | all rights reserved </div>

</section> -->

</div>



<%- include('partials/footer'); -%>